@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Library Management System</h1>

    <div class="centered-line"></div>
    <br />
    
    <p style="quotes"><b><em>"All animals are equal, but some animals are more equal than others."</em></b></p>
    <p><em>Animal Farm - George Orwell</em></p>

    <div class="page-container">
        <p>
            <a class="btn btn-primary" asp-controller="Book" asp-action="Index">Books</a>
            <a class="btn btn-info" asp-controller="Author" asp-action="Index">Authors</a>
            <br />
        </p>
    </div>
    
</div>
